.flex-area{
   background-color: black;
   color: white;
   display: flex;
   /* flex-wrap: wrap;
   flex-direction: column; */
   flex-flow: wrap row;
   justify-content: center;
   align-items: center;
   height: 600px;
}

.flex-area > div{
   /* width: 50px; */
   background-color: red;
   font-size: 30px;
   margin: 10px;
   padding: 10px;
}